@font-face {
  font-family: Poppins;
  src: url("Poppins.otf");
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url("Poppins.otf");
}

body {
  font-family: "Poppins";
  font-style: normal;
}

.myfs-1 {
  font-size: 45px;
}

section {
  min-height: 700px;
  padding-top: 4rem;
}

.ourproduct {
  background: url(./img/geometric_shape_and_lines_background\ 2.png);
}

img {
  max-width: auto;
}

.contact {
  background: url(./img/geometric_shape_and_lines_background\ 2.png);
}

.contact-card p {
  font-size: 25px;
  max-width: 100%;
  height: auto;
}

.my-nav-img {
  max-width: 100px;
}
.ourproduct .card-title i {
  font-size: 60px;
}

.ourproduct .card-body p {
  font-weight: 600;
  font-size: 21px;
  line-height: 38px;
}

.ourproduct h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.ourproduct .desc-our {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
}

.ourproduct .card:hover {
  top: 4px;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
