body {
  font-family: "Verdana";
  font-style: normal;
}

.myfs-1 {
  font-size: 45px;
}

section {
  padding-top: 4rem;
}

.home {
  background: url(./img/geometric_shape_and_lines_background\ 2.png);
}

img {
  max-width: auto;
}

.aboutus {
  background: url(./img/geometric_shape_and_lines_background\ 2.png);
}

.contact-card p {
  font-size: 25px;
  max-width: 100%;
  height: auto;
}

.my-nav-img {
  max-width: 100px;
}
.ourproduct .card i {
  font-size: 80px;
}
