@font-face {
  font-family: Poppins;
  src: url("Poppins.otf");
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url("Poppins.otf");
}

.poph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.pop1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.pop2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.pop3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
}

#orange {
  color: #f9b41c;
}

.myfs-1 {
  font-size: 45px;
}

section {
  min-height: 650px;
  padding-top: 4rem;
}

.ourproduct {
  background: url(./img/geometric_shape_and_lines_background\ 2.png);
  background-size: auto;
}

img {
  max-width: auto;
}

.contact {
  background: url(./img/geometric_shape_and_lines_background\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-card p {
  font-size: 25px;
  max-width: 100%;
  height: auto;
}

.my-nav-img {
  max-width: 100px;
}
.ourproduct .card-title i {
  font-size: 40px;
  padding: 2px 9px;
  border-radius: 15px;
}

.ourproduct .card-body p {
  font-weight: 600;
  font-size: 21px;
  line-height: 38px;
}

.ourproduct h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.ourproduct .desc-our {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
}

.ourproduct .card:hover {
  top: 4px;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
